@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%,
  100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%,
  50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overview-left {
  position: fixed;
  bottom: 2%;
  left: 5%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  width: 86px;
}
.overview-right {
  position: fixed;
  bottom: 2%;
  right: -10%;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.overview-right a {
  writing-mode: vertical-rl;
  color: white;
  width: 80px;
  padding-right: 47px;
  padding-bottom: 47px;
}

@media only screen and (max-width: 1400px) {
  .overview-right {
    right: -12%;
  }
}

@media only screen and (max-width: 1200px) {
  .overview-right {
    right: -18%;
  }
}

@media only screen and (max-width: 1000px) {
  .overview-left {
    position: relative !important;
    display: none !important;
  }
  .overview-right {
    position: relative !important;
    display: none !important;
  }
}

a {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}
